body {
    background-color: #800808;
    color: white;
    font-size: 25px;
    font-family: Consolas;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

ul li:hover {
    transform: scale(1.1);
    color: rgb(0, 195, 255);
}