body {
    background-color: #800808;
    color: white;
    font-size: 20px;
    font-family: Consolas;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}